#navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0em 1.875em 0em 1.875em;
    height: 4.5em;
}

.navElemnts{
    color: rgb(113, 188, 144);
    text-decoration: none;
    font-size: 2em;
}