.subnav{
    display: flex;
    justify-content: center;
    background-color: rgb(226, 169, 183);
}

#searchBar, #searchButton{
    margin: 10px 0 10px 0;
    border: none;
    height: 2em;
}

#searchBar::placeholder{
    padding-left: 10px;
}